<!DOCTYPE HTML>
<html lang="pt-BR">
    <head>
        <title>Recuperar | Código</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/testes.css">
        <link rel="stylesheet" href="bootstrap-4.1.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="bootstrap-4.1.1-dist/js/bootstrap.js">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header class="logo">
            <h2>Estudos.Ninja</h2>
        </header>
        
        <main class="bg-contact2" style="background-image: url('imagens/bg-08.png');">
            <div class="container-contact2">
                <form class="jumbotron jumbotron" id="adicionar_membro" action="alterar_senha.html" method="POST">
                    <h3 style="margin-top: 7px;">Insira o código de segurança para mudar a senha</h3>
                    <hr class="my-4">
                    <br>
                    <div class="jumbotron jumbotron" id="inserir_email">
                        <label class="email_aluno" for="email_aluno"><h5>Código</h5></label>
                        <input type="text" placeholder="Insira o Código de segurança" name="email_aluno" size="35" id="" required>
                        <input id="enviar_membro" type="submit" value="Enviar" class="btn btn-primary btn-lg" name="nome" role="button">
                    </div>
                </form>
            </div>
        </main>

        <footer>
            <div class="jumbotron jumbotron">&copy; Copyright<strong> Estudos.Ninja 2018.</strong> Todos os direitos reservados à <a href="https://mambee-ifpi.firebaseapp.com/ target="_blank""> Mambee - Fábrica e Escola de Software.</a></div>
        </footer>
        <script>alert("Olá, seja bem-vindo à tela de recuperação de senha!");</script>
    </body>

</html>