{% extends 'atividades/_layouts/layout.html' %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block img %}<link rel="shortcut icon" href="{% static 'imagens/logo.png' %}" type="image/png"> {% endblock %}
{% block title %}<title>Criar Turma</title>{% endblock %}

{% block conteudo %}

    <div class="bg-contact2" style= "background-image: url('/static/imagens/bg-12.jpg')">
        <div class="container-contact2">                 
                
            <form class="jumbotron fundo_turmas" method="POST">
                <h3 style="margin-top: -20px;">Criar turma</h3>
                <hr class="my-4">
                <br>
                {% csrf_token %}
                
                <div class="criar_turma1">
                    <h3 class="nome_turma1" id="h3"> Nome da Turma</h3>
                    
                    <div class="cd_turma" style="float: center; margin-left: 30%;">
                    
                    {% render_field form.nome class+="input_turma" placeholder+="Nome da turma" autofocus+="True" required+="True" size+="20" %}

                    <input style="margin-top: -1%;" type="submit" value="Criar" class="btn btn-primary btn-lg" role="button">
                    </div>
                    </div>
                </div>
                
            </form>
        
        </div>
    </div>

{% endblock %}
