{% extends 'atividades/_layouts//layout.html' %}
{% load static %}

{% block conteudo %}
    <div style="margin-bottom: 20%;" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-body card-primary card-outline">
            <h5 class="card-title">Parece que este que este código é inválido, tente novamente! <a href="/"></a></h5>
            <p class="card-text">                           
            </p>
            <a class="btn btn-primary" id="cancelar_atividade" href="/entrar/">Voltar</a>
  
          </div>
        </div>
      </div>
{% endblock %}
