{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/testes.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.css' %}">
        <link rel="shortcut icon" href="{% static 'imagens/ninja.png' %}" type="image/png">
    </head>

    <body style="width: 100%;">
        <div class="bg-contact2" style="background-image: url('/static/imagens/bg-011.jpg');">
            <div class="container-contact2">
                <header>
                    <h1 style="color: white;">O Estudos.Ninja é uma plataforma web pensada para você se organizar nos seus estudos.</h1>
                </header>
                {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>
                        <i class="fa fa-warning"></i>
                        Aviso:
                    </h4>
                    <p>{{ message }}</p>

                </div>
            {% endfor %}
        {% endif %}
                <main >
                    <div class="jumbotron jumbotron" id="container">
                        <section class="cabeçalho">
                            <h1 id="login">Login</h1>
                            <hr class="my-6">
                        </section>

                        <form class="formulario" method="POST">{% csrf_token %}
                            <div class="primeiros">
                                <div class="inp" id="esp">
                                    <label class="inp_inp" id="inp" for="email">Email</label>
                                    {% render_field form.username placeholder+="exemplo@exemplo.com" size+='35' id+='email' required="True" max_length+="254" required="True" help_text+='Informe um Email válido' %}
                                        
                                </div>

                                <div class="inp">
                                    <label class="inp_inp" id="inp" for="senha">Senha</label>
                                    {% render_field form.password placeholder+="Senha" size+='35', id+='email' type="password" required="True", min_length+="8", max_length+="16" %}
                                </div>
                            </div>

                            <div class="inp2"> 
                                <input type="checkbox" id="logado" name="logado" value="sim" checked>
                                <label id = "logado" for="logado">Manter-me logado</label>
                                <input class="inp1-" type="submit" name="enviar" value="Entrar">
                            </div>

                            
                        </form>
                        <div class="inp3">
                            <p>Esqueceu sua senha? clique <a href="{% url 'password_reset' %}" target="">aqui</a> para recuperá-la.</p>
                            <p>Não tem conta no Estudos.Ninja? <a href="{% url 'cadastro' %}" target="">Cadastre-se</a> agora mesmo e se torne um ninja nos estudos.</p>
                        </div>
                    </div>    
                </main>
            </div>
        </div>

         <footer>
            <div class="jumbotron jumbotron">&copy; Copyright<strong> Estudos.Ninja 2018.</strong> Todos os direitos reservados à <a href="https://mambee-ifpi.firebaseapp.com/" target="_blank"> Mambee - Fábrica e Escola de Software.</a></div>
        </footer>

    </body>
</html>
