{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE HTML>
<html lang="pt-BR">
    <head>
        <title>Recuperar Senha</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/testes.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/js/bootstrap.js' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header class="logo">
            <h2>Estudos.Ninja</h2>
        </header>
        
        <main class="bg-contact2" style="background-image: url('/static/imagens/bg-10.jpg');">
            <div class="container-contact2">
                <form class="jumbotron jumbotron" id="adicionar_membro" method="POST">
                    {% csrf_token %}
                    <h4 class="display-6"></h4>
                    
                    <h3>Insira o seu email ou telefone para receber o código</h3>
                    <hr class="my-4">
                    <br>
                     <div class="jumbotron jumbotron" id="inserir_email" style="display: inline-block">
                        <label class="email_aluno" style="float:left" for="email_aluno">
                         {% render_field form.as_p  %}    </label>
                        
                        <input id="enviar_membro" type="submit" value="Enviar" class="btn btn-primary btn-lg" name="nome" role="button" required>
                    </div>
                </form>
                
            </div>
        </main>

        <footer>
            <div class="jumbotron jumbotron " style="background: rgba(41,44,51,0.6);">Estudos.Ninja &copy; Copyright 2018. Todos os direitos reservados à Estudos.Ninja Corporation</div>        
        </footer>
        
    </body>

</html>
