{% extends 'atividades/_layout/template.html' %}
{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  
  {% block title %} <title>Email Enviado</title> {% endblock %}
  <!-- Required meta tags -->
  {% block style %}
  <style>
    html,
    body {
      height: 100%;
    }

    .container {
      height: 100%;
      min-height: 100%;
    }

  #texto{
    padding-top:15%;
  }
  @media(max-height:1366px){
    #texto{
      padding-top: 50%;
    }
  }
  @media(max-height:736px){
    #texto{
      padding-top: 35%;
    }
  }
  @media(max-height:667px){
    #texto{
      padding-top: 20%;
    }
  }
 
  @media(max-height:640px){
    #texto{
      padding-top: 10%;
    }
  }
  </style>
  {% endblock %}
</head>

<body>
  {% block content %}
    <nav class="navbar navbar-static-top navbar-expand-lg" color-on-scroll="100" style="margin-bottom: 0%;">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand mx-auto" href="https://demos.creative-tim.com/material-kit/index.html" style=" font-size: 2rem">
              Estudos.ninja </a>
          </div>
      </nav>
  <div class="page-header page-filter fill" data-parallax="true" style="background: white; height: 0%;">
    <div class="container">
      <div class="row">
        <h2 id="texto" class="text-center" style="color: black;">Nós lhe enviamos um email com as
          instruções para a recuperação de sua senha</h4>
      </div>

      <footer class="page-footer font-small blue fixed-bottom" style="color:black">
        <div class="container md-auto">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right" style="color:black">
              &copy;
              <script>
                document.write(new Date().getFullYear())
              </script>, made with <i class="material-icons">favorite</i> by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% endblock %}
</body>

</html>