{% extends '/registration/_layouts/template.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">

<head>

  {% block title %} <title>Recuperação de Senha</title> {% endblock %}
  {% block style %}
  <style>
      html,
      body {
        height: 100%;
      }
  
      .container {
        height: 100%;
        min-height: 100%;
      }
</style>  
{% endblock %}
</head>

<body>
  {% block content %}
    <nav class="navbar navbar-static-top navbar-expand-lg" color-on-scroll="100" style="margin-bottom: 0%;">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand mx-auto" href="https://demos.creative-tim.com/material-kit/index.html" style=" font-size: 2rem">
              Estudos.ninja </a>
          </div>
      </nav>
  <div class="page-header page-filter" data-parallax="true" style="background: #ffffff; height: 0%;">
    <div class="container">
        <h3 style="color: black; padding: 1%;" class="text-center"  >Recuperação de Senha</h3>
      <div class="row">
          <div style="margin:2%; width: 80%;" class="mx-auto">
            <h5 style="color:black; padding: 1%" class="text-center mx-auto">Insira seu E-mail para recuperar sua senha</h5>
            <form method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="email">Email:</label>
                {% render_field form.email placeholder+="Email" class+="form-control" size+="35" required+="True" %}
              </div>
              <div style="text-align: right;">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
              
            </form>
          </div>
          
      </div>
      <footer class="page-footer font-small blue fixed-bottom" style="position: fixed">
          <div class="container">
            <div class="row py-4 d-flex align-items-center">
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </div>
              <div class="col-md-6 col-lg-7 text-center text-md-right" style="color:black">
                &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
              </div>
            </div>
          </div>
        </footer>
    </div>
    </div>
    {% endblock %}
</body>

</html>